<div [formGroup]="formGroup">
  <mat-form-field appearance="fill">

    <mat-label for="email">Email</mat-label>
    <input formControlName="email" matInput name="email" required type="email">

    <mat-error *ngIf="formGroup.controls.email.hasError('email')">
      Merci de saisir une adresse mail valide
    </mat-error>

    <mat-error *ngIf="formGroup.controls.email.hasError('required')">
      L'email est obligatoire
    </mat-error>

  </mat-form-field>
</div>
