/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: calibri;
  src: url(assets/fonts/Calibri.ttf) format("truetype");
  font-weight: 400;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: 'calibri', 'Franklin', 'Tahoma', 'Malgun Gothic', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

mat-form-field {
  width: 100%;
}
