@use '~@angular/material' as mat;

@include mat.core();

$oini-palette: (
  50 : #e3edf3,
  100 : #b9d1e2,
  200 : #8bb3cf,
  300 : #5c94bc,
  400 : #397dad,
  500 : #16669f,
  600 : #135e97,
  700 : #10538d,
  800 : #0c4983,
  900 : #063872,
  A100 : #a2c7ff,
  A200 : #6fa8ff,
  A400 : #3c89ff,
  A700 : #227aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-custom-level: mat.define-typography-level(
  $font-family: calibri,
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 1.42857143,
  $letter-spacing: normal,
);

$oini-theme-primary: mat.define-palette($oini-palette, 500);
$oini-theme-accent: mat.define-palette($oini-palette, 900);
$oini-theme-font-family: mat.font-family($my-custom-level);

$oini-theme: mat.define-light-theme((
  color: (primary: $oini-theme-primary, accent: $oini-theme-accent)
));

@include mat.core($my-custom-level);
@include mat.all-component-themes($oini-theme);
