<div class="d-flex justify-content-center mt-5">
  <h1 color="primary">Formulaire de contact</h1>
</div>

<div class="row d-flex justify-content-center my-4">
  <div class="col-md-6">
    <mat-form-field appearance="fill">
      <mat-label>Sélectionner votre question</mat-label>
      <mat-select [(value)]="selectedQuestion" required>
        <mat-option *ngFor="let questionType of questionTypes"
                    [value]="questionType.value">{{ questionType.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div *ngIf="selectedQuestion === questionType.DICP_RECEIPT" class="row d-flex justify-content-center">
  <mat-divider class="my-4"></mat-divider>
  <div class="col-md-6">

    <form #formDirective="ngForm" (ngSubmit)="submit(dicpReceiptForm, formDirective)" [formGroup]="dicpReceiptForm">

      <app-tahiti-number-form-field [formGroup]="dicpReceiptForm"></app-tahiti-number-form-field>

      <div class="d-flex justify-content-center my-3">
        <button [disabled]="dicpReceiptForm.invalid" color="primary" mat-raised-button type="submit">Envoyer
        </button>
      </div>

    </form>
  </div>
</div>


<div *ngIf="selectedQuestion === questionType.LITIGATION" class="row d-flex justify-content-center">

  <mat-divider class="my-4"></mat-divider>

  <div class="col-md-6">
    <form #formDirective="ngForm" (ngSubmit)="submit(litigationForm, formDirective)" [formGroup]="litigationForm">

      <app-email-form-field [formGroup]="litigationForm"></app-email-form-field>
      <app-tahiti-number-form-field [formGroup]="litigationForm"></app-tahiti-number-form-field>
      <app-tax-type-form-field [formGroup]="litigationForm"></app-tax-type-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="comment">Remarques</mat-label>
        <textarea formControlName="comment" matInput name="comment"></textarea>
      </mat-form-field>

      <div class="d-flex justify-content-center my-3">
        <button [disabled]="litigationForm.invalid" color="primary" mat-raised-button type="submit">Envoyer
        </button>
      </div>

    </form>
  </div>
</div>


<div *ngIf="selectedQuestion === questionType.STATEMENT" class="row d-flex justify-content-center">

  <mat-divider class="my-4"></mat-divider>

  <div class="col-md-6">
    <form #formDirective="ngForm" (ngSubmit)="submit(statementForm, formDirective)" [formGroup]="statementForm">

      <app-email-form-field [formGroup]="statementForm"></app-email-form-field>
      <app-tahiti-number-form-field [formGroup]="statementForm"></app-tahiti-number-form-field>
      <app-tax-type-form-field [formGroup]="statementForm"></app-tax-type-form-field>
      <input id="file" type="file">

      <div class="d-flex justify-content-center my-3">
        <button [disabled]="statementForm.invalid" color="primary" mat-raised-button type="submit">Envoyer
        </button>
      </div>

    </form>
  </div>
</div>
