<div [formGroup]="formGroup">
  <mat-form-field appearance="fill">

    <mat-label for="tahitiNumber">Numéro Tahiti</mat-label>
    <input formControlName="tahitiNumber" matInput name="tahitiNumber" required>

    <mat-error *ngIf="formGroup.controls.tahitiNumber.hasError('pattern')">
      Merci de saisir un numéro Tahiti valide. Exemple : TA4585
    </mat-error>

    <mat-error *ngIf="formGroup.controls.tahitiNumber.hasError('required')">
      Le numéro Tahiti est obligatoire
    </mat-error>

  </mat-form-field>
</div>
