<mat-toolbar color="primary" style="height: 50px">
  <img alt="oini" class="me-2" src="assets/icons/oini.png" style="width: 45px">
  <span>'O'INI e-services</span>
</mat-toolbar>

<div class="container">
  <app-contact-form></app-contact-form>
</div>
