<div [formGroup]="formGroup">
  <mat-form-field appearance="fill">

    <mat-label for="taxType">Impôt concerné</mat-label>

    <mat-select formControlName="taxType" name="taxType" required>
      <mat-option *ngFor="let taxType of taxTypes" [value]="taxType.value">{{ taxType.label }}</mat-option>
    </mat-select>

    <mat-error *ngIf="formGroup.controls.email.hasError('required')">
      Le type d'impôt est obligatoire
    </mat-error>

  </mat-form-field>
</div>
